<h1>
  Welcome to! <button (click)="show($event)">show..</button>
</h1>

<section *ngIf="fakeData$ | async as fakeData; else loading">
  <cdt-datatable
    [className]="'width80'"
    [datatableSetting]="datatableSetting"
    [data]="fakeData"
    (sortCommand)="sortCommand($event)">

    <ng-template #rowCommand let-row>
      <button (click)="doCommand($event, row?.id)">test</button>
    </ng-template>

  </cdt-datatable>
</section>

<ng-template #loading>Loading...</ng-template>


<!-- <ng-container *ngTemplateOutlet="loading"></ng-container> -->